{% extends "layout.html" %}

{% block main %}
<div id="libros-container" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 mt-3 align-items-start">
    
</div>
{% endblock %}

{% block scripts %}
<script>
function mostrarDetalle(id) {
    document.getElementById('inicial-' + id).classList.add('d-none');
    document.getElementById('detalle-' + id).classList.remove('d-none');
}

function mostrarInicial(id) {
    document.getElementById('detalle-' + id).classList.add('d-none');
    document.getElementById('inicial-' + id).classList.remove('d-none');
}
</script>
{% endblock %}